<?xml version="1.0"?>
<launch>


        <node name="vision1" pkg="truffle" type="vision1" output="screen">
            
        </node>
        <node name="controller1" pkg="truffle" type="controller1" output="screen">
            <remap from="ally1_vision" to="/truffle/home1" />

            <remap from="ball_vision" to="/truffle/ball" />

        </node>

</launch>
